* {
   font-family: "Manrope", sans-serif;
   margin: 0px;
}

html {
   background: linear-gradient(90deg, rgb(6, 66, 56), rgb(1, 12, 10) );
}


ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 8rem;
  font-size: 22px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.849);

}

li {
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4rem;
  color: rgb(192, 191, 191);
  

}

a {
    color: rgb(192, 191, 191);
    text-decoration: none;
}

a:hover {
   cursor: pointer;
   transition: transform 0.6s;
   color: white;
   transform: scale(1.1);
}

#textoSuperior {
   height: 15rem;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   color: white;
   font-size: 20px;
   background: linear-gradient(180deg, #1a1a1a86, #000000 );
}

#textoSuperior > img {
   width: 15rem;
   height: 15rem;
   padding-right: 5rem;
}

.card {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   align-items: center;
   height: 50rem;
   width: auto;
}

.imgCard {
   height: 35rem;
   width: 25rem;
   margin-top: 4rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.imgCard2 {
   position: relative;
   height: 37rem;
   width: 27rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.imgCard:hover {
   transition: transform 0.6s;
   transform: scale(1.1);
}

.imgCard2:hover {
   transition: transform 0.6s;
   transform: scale(1.1);
}

.textoP1 {
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   font-size: 35px;
   margin-top: 3rem;
}

.novidadesDaSemana {
   height: 50rem;
   width: auto;
   margin-top: 4rem;
   background: linear-gradient(180deg, #1a1a1a86, #000000 );

}

.Eventos1 {
   height: 50rem;
   width: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   background: linear-gradient(180deg, #1a1a1a86, #000000 );

}

.P-eventos {
   width: 70rem;
   font-size: 22px;
   color: white;
}



.Eventos2 {
   display: flex;
   flex-direction: row;
   height: 60rem;
   align-items: center;
   justify-content: space-around;
}

#footer-id {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 40rem;
   width: auto;

}

#footer-id > Ul {
   background: none;
   width: 60%;
}

#footer-id > ul > li > a {
   width: 12rem;
   font-size: 1.5rem;  
   display: flex;
   align-items: center;
   justify-content: space-around;
}


#footer-id > P {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  font-size: 18px;
  color: rgb(192, 191, 191);
}

.P-footer:hover {
   transition: transform 0.6s;
   color: white;
}

.footerUl {
   width: 100rem;
}

#footerId {
   background-color: transparent;
}

@media only screen and (min-width: 1080px) and (max-width: 1919px) {

#menuSuperior, a {
   font-size: 18px;
}


.imgCard {
   height: 25rem;
   width: 18rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.imgCard2 {
   position: relative;
   height: 28rem;
   width: 20rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.card {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   align-items: center;
   height: 40rem;
   width: auto;
}

.P-eventos {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   width: 50rem;
}

.Eventos1 {
   display: flex;
   align-items: center;

}

.P-footer {
   font-size: 15px;
}


#footer-id > Ul {
   background: none;
   width: 80%;
}

}

@media only screen and (min-width: 340px) and (max-width: 714px) {

ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 5rem;
  font-size: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.849);

}

#textoSuperior {
   height: 15rem;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   text-align: center;
   align-items: center;
   color: white;
   font-size: 10px;
   background: linear-gradient(180deg, #1a1a1a86, #000000 );
}

#textoSuperior > img {
   width: 8rem;
   height: 8rem;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: auto;
   width: auto;
}

.card > .imgCard2 {
   height: 25rem;
   width: 20rem;
   margin-top: 3.5rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.card > .imgCard {
   height: 25rem;
   width: 20rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.novidadesDaSemana {
   height: auto;
   width: auto;
   margin-top: 4rem;
   background: linear-gradient(180deg, #1a1a1a86, #000000 );
}

.novidadesDaSemana > .Eventos1 {
   height: 50rem;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.novidadesDaSemana > .Eventos1 > .P-eventos{
   width: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 12px;
}

.novidadesDaSemana > .Eventos1 > .imgCard {
   height: 25rem;
   width: 20rem;
   margin-bottom: 5rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

.novidadesDaSemana > .Eventos2 {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;

}


.novidadesDaSemana > .Eventos2 > .P-eventos{
   width: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 12px;
}

.novidadesDaSemana > .Eventos2 > .imgCard {
   height: 25rem;
   width: 20rem;
   border-radius: 2rem;
   box-shadow: 0 10px 12px 0 rgb(12, 59, 15);
}

#footer-id {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: auto;
   margin-top: 0;
   width: auto;
   margin-bottom: 2rem;

}

#footer-id > ul {
   height: 20rem;
   width: 95%;
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 5rem;
   padding: 0;
}

#footer-id > ul > li {
   padding: 0;
}

#footer-id > ul > li > a {
   font-size: 15px;
}

#footer-id > .P-footer {
   height: 20rem;
   font-size: 15px;
   color: white;
   margin: 0;

}


}