h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: white;
}

#divProdutos {
    height: 35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.cardsProdutos {
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgb(77, 77, 77);
    color: rgb(192, 191, 191);
    box-shadow: 0px 10px 10px 0px rgb(20, 20, 20);
}

.cardsProdutos:hover {
   transition: transform 0.6s;
   transform: scale(1.05);

}

.imgProdutos {
    height: 15rem;
    width: 17rem;
    margin-bottom: 2rem;
}

.imgProdutos:hover {
    transition: transform 0.6s;
    transform: scale(1.1);
}

.divTextoProdutos {
    width: 19rem;
    height: 5rem;
    display: flex;
    padding-left: 1rem;
    justify-content:space-around;
    flex-direction: column;
    font-size: 14px;
    background-color: black;

}

#divComprar {
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttonComprar {
    width: 14rem;
    height: 3.5rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(2, 119, 17);
}

.a-button {
    padding: 5px 50px 5px 50px;
}

.buttonComprar:hover {
    cursor: pointer;
    background-color: rgb(2, 87, 13);
    
}

.buttonCart {
    width: 4rem;
    height: 3rem;
    border-radius: 5px;
    background-color: white;
}

.buttonCart:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(207, 207, 207);
}

.a-button-cart {
    padding: 10px 12px 10px 12px;
}