 body {
     font-family: Arial, sans-serif;
     background: linear-gradient(180deg, #002d25, #013a2e);
     color: white;
     margin: 0;
     padding: 0;
 }

 header {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     margin-top: 5rem;
 }

 header h1 {
     width: 40rem;
     display: flex;
     justify-content: end;
     font-size: 24px;
 }

 #divImagens {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
 }

 .imagemProdutos {
    width: 15rem;
    height: 14rem;
    border-radius: 12px;
    background: #020202;

 }

#divImagens > img {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

 .cart-icon {
     position: relative;
     cursor: pointer;
 }

 .cart-icon img {
     width: 3rem;
 }

 .cart-count {
     position: absolute;
     top: -8px;
     right: -8px;
     background: red;
     color: white;
     font-size: 12px;
     padding: 2px 6px;
     border-radius: 50%;
 }

 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-top: 1rem;

 }

 .container > .card {
     display: flex;
     flex-direction: column;
     background: #2c2c2c;
     border-radius: 12px;
     width: 15rem;
     height: 20rem;
     text-align: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .card > img {
     width: 17rem;
     height: 15rem;
     background: blue;
 }

 .price {
     font-weight: bold;
     margin-bottom: 10px;
 }

 .actions {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 13rem;
     padding: 1rem;
     background: #000;
 }

 button {
     background: #00a859;
     color: white;
     border: none;
     border-radius: 6px;
     padding: 1.1rem 3rem;
     cursor: pointer;
     margin-right: .5rem;
     transition: 0.3s;
 }

 button:hover {
     background: #00914f;
 }

 .cart-btn {
     background: #eee;
     border-radius: 6px;
     padding: 1rem 1rem;
     cursor: pointer;
 }

 .cart-btn:hover {
    background: #c7c7c7;
 }