 body {
     font-family: Arial, sans-serif;
     background: linear-gradient(180deg, #002d25, #013a2e);
     color: white;
     margin: 0;
     padding: 0;
 }

 header {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     margin-top: 5rem;
 }

 header h1 {
     width: 42rem;
     display: flex;
     justify-content: end;
     font-size: 24px;
 }

 .cart-icon {
     position: relative;
     cursor: pointer;
 }

 .cart-icon img {
     width: 3rem;
 }

 .cart-count {
     position: absolute;
     top: -8px;
     right: -8px;
     background: red;
     color: white;
     font-size: 12px;
     padding: 2px 6px;
     border-radius: 50%;
 }

 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;

 }

 .container > .card {
     display: flex;
     flex-direction: column;
     background: #2c2c2c;
     border-radius: 12px;
     width: 30rem;
     text-align: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .card > img {
     width: 17rem;
     height: 15rem;
 }

 .price {
     font-weight: bold;
     margin-bottom: 10px;
 }

 .actions {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 28rem;
     padding: 1rem;
     background: #000;
 }

 button {
     background: #00a859;
     color: white;
     border: none;
     border-radius: 6px;
     padding: 1.5rem 7rem;
     cursor: pointer;
     transition: 0.3s;
 }

 button:hover {
     background: #00914f;
 }

 .cart-btn {
     background: #eee;
     border-radius: 6px;
     padding: 1.5rem 2rem;
     cursor: pointer;
 }

 .cart-btn:hover {
    background: #c7c7c7;
 }